.category-container {
  width: 233px;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 12px;
  gap: 10px;
  color: rgba(83, 84, 92, 1);
  transition: 0.5s;
}
.font1 {
  font-size: 14px;
  margin-top: 2px;
  font-weight: 400;
}
.selected-container {
  width: 233px;
  height: 56px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 12px;
  gap: 10px;
  background-color: rgba(85, 112, 241, 1);
  color: white;
}
.category-container:hover {
  cursor: pointer;
  background-color: aliceblue;
}
