.styled-input-container {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
}

.styled-input-label {
  display: block;
  margin-bottom: 3px;
  color: #888;
  font-size: 12px;
}

.styled-input-field {
  width: 100%;
  border: none;
  background: none;
  color: #888;
  font-size: 20px;
  outline: none;
}
