.navbar-container {
  height: 84px;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: white;
  border-left: 1px rgba(241, 243, 249, 1) solid;
}
.navbar-upper {
  padding: 14px 21px 14px 21px;
  border-bottom: 1px rgba(241, 243, 249, 1) solid;
  display: flex;
  justify-content: space-between;
}
.nav-dropdown {
  background-color: rgba(254, 245, 234, 1);
  padding: 5px 12px 5px 12px;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  align-items: center;
}
.nav-top-right {
  display: flex;
  align-items: center;
  gap: 20px;
}
.drop-title {
  font-family: "Inter";
  font-size: 14px;
}
.profile-pic {
  width: 32px;
  height: 32px;
  border-radius: 8px;
  background-size: contain;
  background-image: url("https://s3-alpha-sig.figma.com/img/a682/9123/9adabc1b461893a09975e11abc591d9a?Expires=1721606400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=ZRa7rHcAN0MWRDLyT9mamilJoaTkveF7mkZMTeSTVSNHnCOnVzml5IElbxNBnJ9H0pvCmCufFsT96WGY6ZZ~KPtwgaIZoxFBro19sqw4ms40jKQiT32AqtNyv3rb7P3HM0ZJmHpJAlX1fQfKVCjMZggOLoR2ATbHHzjL4ambDqvDo3y1G826MNukFdqJNEPtnqZfuoxP6Kwyea1OWIl9Ztnhk1Oo56u7LULRm0bwZAzitmeTXMf2Fc-tlZ01Y19TJDiU3jzQpk2fJe8TBjnbXDjf2qzedvmvkqFy44GsjuJFg-RWgjwpzJsy0PvOsOKsTG8wEr42I8C2SqbJkQNIXw__");
}
.navbar-bottom {
  padding: 4px 20px 4px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar-font {
  font-size: 12px;
  color: rgba(139, 141, 151, 1);
  font-weight: 400;
}
.nav-dropdown:hover {
  cursor: pointer;
}
.nav-top-right-hidden {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  position: relative;
}
.nav-top-right-sub {
  position: absolute;
  top: 50px;
  right: 0;
  width: 170px;
  display: flex;
  align-items: center;
  gap: 3px;
}
